a {
    color: #5e0018
}
body {
    background-color: #efe8d6;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}
h1 {
    color: #5e0018;
    font-size: 30px;
    font-weight: 700;
}
h2 {
    font-size: 24px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    font-weight: 700;
}
a:visited {
    color: indigo;
}
a:hover, a:focus {
    text-decoration: none;
}
a:active {
    color: midnightblue;
}
button {
    border:none;
    display: inline-block;
    font-family: inherit;
    background-color: #5e0018;
    color: #efe8d6;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000;
    transition: 0.5s opacity;
}
.button {
    border:none;
    display: inline-block;
    font-family: inherit;
    background-color: #5e0018;
    color: #efe8d6;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000;
    transition: 0.5s opacity;
}
.button__resume {
    max-width: 200px;
}
button:hover, 
button:focus,
.button:hover,
.button:focus {
    cursor:pointer;
    opacity: 0.5;
}
.button__secondary {
    background-color: #000;
    color: #efe8d6;
}
.navigation-list__item--active {
    text-decoration: none;
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.profile__portrait--about {
    width: 150px;
    margin-right: 20px;
    border-radius: 50%;
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
.profile__intro {
    padding-top: 40px;
}
.about-me, .dog-searching, .profile__portrait--about, .button__resume {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}
.hobbies__list {
    list-style-type: none;
}
.work {
    margin: 0px 50px;
}
.work__header {
    text-align: center;
}
.contact {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 200px;
}
#contact-form {
    text-align: right;
}
* {
    box-sizing: border-box;
}
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    margin: 20px;
    flex: 0 1 200px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
.grid__item {
    display: inline-block;
    width: 33%;
}
@supports (display:grid) {
    .grid { 
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .grid__item {
        background-color: #E1D3B1;
        width: auto;
        min-height: auto;
        padding: 25px;
    }
}
@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size: 22px;
    }
}
@keyframes color-change {
    0% {
        fill: black;
    }
    50% {
        fill: #5e0018;
    }
    100% {
        fill: white;
    }
}
.dog {
    animation: 10s color-change infinite alternate linear;
}
@keyframes cloud-move {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(50px, 0)
    }
}
.cloud1 {
    animation: 5s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(-50px, 0)
    }
}
.cloud2 {
    animation: 5s cloud-move-reverse infinite alternate linear;
}